USE [master]
GO
/****** Object:  Database [SISTEMA_TALLER]    Script Date: 17/8/2025 20:58:15 ******/
CREATE DATABASE [SISTEMA_TALLER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISTEMA_TALLER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SISTEMA_TALLER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISTEMA_TALLER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SISTEMA_TALLER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISTEMA_TALLER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISTEMA_TALLER]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NOT NULL,
	[ESTADO] [nchar](10) NOT NULL,
	[FECHA_CREA] [datetime] NOT NULL,
	[FECHA_MOD] [datetime] NOT NULL,
 CONSTRAINT [PK__CATEGORI__4BD51FA5CB5E8E73] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [nvarchar](100) NOT NULL,
	[APELLIDOS] [nvarchar](100) NOT NULL,
	[TELEFONO] [nvarchar](20) NOT NULL,
	[DIRECCION] [nvarchar](200) NOT NULL,
	[CORREO] [nvarchar](100) NOT NULL,
	[FECHA_REGISTRO] [date] NOT NULL,
	[ESTADO] [nvarchar](100) NOT NULL,
	[DUI] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__CLIENTES__23A34130BB5AF439] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTAS_PENDIENTES]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTAS_PENDIENTES](
	[ID_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[MONTO_TOTAL] [decimal](10, 2) NOT NULL,
	[MONTO_PAGADO] [decimal](10, 2) NOT NULL,
	[ULTIMA_FECHA_PAGO] [date] NOT NULL,
	[ESTADO] [nvarchar](20) NOT NULL,
	[ID_SERVICIO] [int] NOT NULL,
	[SALDO_PENDIENTE] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__CUENTAS___ADEAD61A1DBAA500] PRIMARY KEY CLUSTERED 
(
	[ID_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_SERVICIO]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_SERVICIO](
	[ID_DETALLE] [int] NOT NULL,
	[ID_SERVICIO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD_USADA] [int] NOT NULL,
	[PRECIO_UNITARIO] [decimal](10, 2) NOT NULL,
	[SUBTOTAL] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DETALLE_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[ID_INVENTARIO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[STOCK_ACTUAL] [int] NOT NULL,
	[STOCK_MINIMO] [int] NOT NULL,
	[COSTO_UNITARIO] [decimal](10, 2) NOT NULL,
	[PRECIO_VENTA] [decimal](10, 2) NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
 CONSTRAINT [PK_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[ID_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTOS_INVENTARIO]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTOS_INVENTARIO](
	[ID_MOVIMIENTO] [int] NOT NULL,
	[TIPO_MOVIMIENTO] [nvarchar](100) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[FECHA_MOVIMIENTO] [datetime] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_MOVIMIENTOS_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[ID_MOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[ID_PAGO] [int] NOT NULL,
	[ID_SERVICIO] [int] NOT NULL,
	[MONTO_PAGADO] [decimal](10, 2) NOT NULL,
	[FECHA_PAGO] [datetime] NOT NULL,
	[METODO_PAGO] [nvarchar](100) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_PAGOS] PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[NOMBRE_PRODUCTO] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](200) NOT NULL,
	[CANTIDAD_ACTUAL] [int] NOT NULL,
	[ESTADO] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__PRODUCTO__88BD035798987B1A] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL_USUARIO]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_USUARIO](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nchar](25) NOT NULL,
	[ESTADO] [varchar](1) NOT NULL,
	[FECHA_CREA] [datetime] NOT NULL,
	[FECHA_MOD] [datetime] NOT NULL,
 CONSTRAINT [PK_ROL_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[ID_SERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE_SERVICIO] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](200) NOT NULL,
	[PRECIO_BASE] [decimal](10, 2) NOT NULL,
	[FECHA_SERVICIO] [datetime] NOT NULL,
	[ESTADO_PAGO] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__SERVICIO__C8BDE0EB8524CEF6] PRIMARY KEY CLUSTERED 
(
	[ID_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 17/8/2025 20:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [nvarchar](100) NOT NULL,
	[APELLIDOS] [nvarchar](100) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[CORREO] [nvarchar](125) NOT NULL,
	[ID_ROL] [int] NOT NULL,
	[ESTADO] [varchar](1) NOT NULL,
	[FOTO] [nvarchar](max) NULL,
	[DUI] [nchar](10) NOT NULL,
	[TELEFONO] [nchar](10) NOT NULL,
	[FECHA_CREA] [datetime] NOT NULL,
	[FECHA_MOD] [datetime] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROL_USUARIO] ON 

INSERT [dbo].[ROL_USUARIO] ([ID_ROL], [DESCRIPCION], [ESTADO], [FECHA_CREA], [FECHA_MOD]) VALUES (1, N'Administrador            ', N'A', CAST(N'2025-01-06T00:00:00.000' AS DateTime), CAST(N'2025-04-14T12:16:45.583' AS DateTime))
INSERT [dbo].[ROL_USUARIO] ([ID_ROL], [DESCRIPCION], [ESTADO], [FECHA_CREA], [FECHA_MOD]) VALUES (2, N'Empleado                 ', N'A', CAST(N'2025-04-14T11:33:49.323' AS DateTime), CAST(N'2025-08-17T19:49:50.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[ROL_USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([ID_USUARIO], [NOMBRES], [APELLIDOS], [USERNAME], [PASSWORD], [CORREO], [ID_ROL], [ESTADO], [FOTO], [DUI], [TELEFONO], [FECHA_CREA], [FECHA_MOD]) VALUES (1, N'admin', N'admin', N'admin', N'$2a$10$/IHvN9cD5G7QjcUb/NKrQuiViewjU0lt3hzapxJADE88bq8mBiIhm', N'admin@prueba.com', 1, N'A', N'04142025121508_FU.png', N'00000000-0', N'0000-0000 ', CAST(N'2024-12-12T15:07:32.973' AS DateTime), CAST(N'2025-08-17T20:38:10.003' AS DateTime))
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [NOMBRES], [APELLIDOS], [USERNAME], [PASSWORD], [CORREO], [ID_ROL], [ESTADO], [FOTO], [DUI], [TELEFONO], [FECHA_CREA], [FECHA_MOD]) VALUES (2, N'Juan Antonio', N'Marco Solis', N'juanso', N'$2a$10$HreLzqemkead4Tk.Kzc8PeVpSsjWgDOpKuACl0HRGNdf.XeWhVUwK', N'juanso@gmail.com', 2, N'A', N'04142025115857_FU.jpeg', N'06521326-9', N'7669-8562 ', CAST(N'2025-04-14T11:58:57.090' AS DateTime), CAST(N'2025-08-17T20:18:05.360' AS DateTime))
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [NOMBRES], [APELLIDOS], [USERNAME], [PASSWORD], [CORREO], [ID_ROL], [ESTADO], [FOTO], [DUI], [TELEFONO], [FECHA_CREA], [FECHA_MOD]) VALUES (3, N'Sofia Andrea', N'Marroquin Perez', N'andreaa', N'$2a$10$b.EOiBfA.VXZhInrM95BAe9HZTKhjpwckxKd6Z4LWe/XgNK.8tocO', N'andreaa@gmail.com', 2, N'A', N'04142025120151_FU.png', N'06151623-2', N'7548-9563 ', CAST(N'2025-04-14T12:01:51.877' AS DateTime), CAST(N'2025-04-27T16:28:51.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
/****** Object:  Index [IX_DETALLE_SERVICIO]    Script Date: 17/8/2025 20:58:15 ******/
CREATE NONCLUSTERED INDEX [IX_DETALLE_SERVICIO] ON [dbo].[DETALLE_SERVICIO]
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ROL_USUARIO]    Script Date: 17/8/2025 20:58:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ROL_USUARIO] ON [dbo].[ROL_USUARIO]
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  CONSTRAINT [DF__CLIENTES__FECHA___4316F928]  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[CUENTAS_PENDIENTES] ADD  CONSTRAINT [DF__CUENTAS_P__MONTO__534D60F1]  DEFAULT ((0)) FOR [MONTO_PAGADO]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [DF__PRODUCTOS__CANTI__4F7CD00D]  DEFAULT ((0)) FOR [CANTIDAD_ACTUAL]
GO
ALTER TABLE [dbo].[CUENTAS_PENDIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_PENDIENTES_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CUENTAS_PENDIENTES] CHECK CONSTRAINT [FK_CUENTAS_PENDIENTES_CLIENTES]
GO
ALTER TABLE [dbo].[CUENTAS_PENDIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAS_PENDIENTES_SERVICIOS] FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
ALTER TABLE [dbo].[CUENTAS_PENDIENTES] CHECK CONSTRAINT [FK_CUENTAS_PENDIENTES_SERVICIOS]
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_SERVICIO_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO] CHECK CONSTRAINT [FK_DETALLE_SERVICIO_PRODUCTOS]
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_SERVICIO_SERVICIOS] FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
ALTER TABLE [dbo].[DETALLE_SERVICIO] CHECK CONSTRAINT [FK_DETALLE_SERVICIO_SERVICIOS]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_INVENTARIO_PRODUCTOS]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTOS_INVENTARIO_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO] CHECK CONSTRAINT [FK_MOVIMIENTOS_INVENTARIO_USUARIOS]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_SERVICIOS] FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_SERVICIOS]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_USUARIOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIAS] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIAS]
GO
ALTER TABLE [dbo].[SERVICIOS]  WITH CHECK ADD  CONSTRAINT [FK_SERVICIOS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[SERVICIOS] CHECK CONSTRAINT [FK_SERVICIOS_CLIENTES]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ROL_USUARIO] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL_USUARIO] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ROL_USUARIO]
GO
USE [master]
GO
