<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="wrapper" class="d-flex">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid p-4">
                    <!-- Encabezado -->
                    <div class="dashboard-header">
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom-0">
                            <h1 class="h2 p-3 mb-0">Panel de Administración</h1>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div id="alertasPagosPendientes" class="alert alerta-persistente mb-4" style="display: none;">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-lg-6 mb-4">
                            <div class="card chart-card shadow-sm h-100">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Stock total de productos por categoría</h5>
                                    <div class="chart-container">
                                        <canvas id="graficoStockCategoria" height="150"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card chart-card shadow-sm h-100">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Movimientos mensuales</h5>
                                    <div class="chart-container">
                                        <canvas id="graficoMovimientos" height="150"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card chart-card shadow-sm h-100">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Productos más utilizados</h5>
                                    <div class="chart-container">
                                        <canvas id="graficoTopProductos" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card chart-card shadow-sm h-100">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Cuentas pendientes de clientes</h5>
                                    <div class="chart-container">
                                        <canvas id="graficoDistribucionSaldos" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/userModal :: userModal"></div>
    <div th:replace="fragments/jsComponents :: jsScripts"></div>
    <script th:src="@{/js/graphStockCategoria.js}"></script>
    <script th:src="@{/js/graphMovimientosMensuales.js}"></script>
    <script th:src="@{/js/graphTopProductos.js}"></script>
    <script th:src="@{/js/graphCuentasPendientesClientes.js}"></script>
    <script th:src="@{/js/alertPagosPendientes.js}"></script>
    </script>
</body>

</html>