<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Pagos')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid p-4">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Listado de Pagos</h1>
                    </div>

                    <a th:href="@{/pagos/nuevo}" class="btn btn-primary mb-3">Agregar pago</a>

                    <!-- Mensaje Flash -->
                    <div th:if="${mensaje}"
                        th:classappend="${tipoMensaje == 'success' ? 'alert alert-success' : 'alert alert-danger'}"
                        class="alert alert-dismissible fade show" role="alert">
                        <span th:text="${mensaje}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped" width="100%" cellspacing="0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Fecha de pago</th>
                                    <th>Servicio</th>
                                    <th>Monto pagado</th>
                                    <th>Método de pago</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="pg : ${pagos}">
                                    <td th:text="${pg.fechaPago}">fechaPago</td>
                                    <td th:text="${pg.servicio.nombreServicio}">servicio</td>
                                    <td th:text="'$' + ${pg.montoPagado}">montoPagado</td>
                                    <td th:text="${pg.metodoPago}">metodoPago</td>
                                    <td>
                                        <a th:href="@{/pagos/editar/{id}(id=${pg.idPago})}">
                                            <i class="fas fa-edit" style="color: #085691;"></i></a>

                                        <a th:href="@{/pagos/eliminar/{id}(id=${pg.idPago})}"
                                            onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                                            <i class="fas fa-trash-alt" style="color: #085691;"></i></a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(pagos)}">
                                    <td colspan="5" class="text-center">No hay pagos registrados.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/jsComponents :: jsScripts"></div>
</body>

</html>